.open_file_button {}
.display_mode_button {}

.axis_button {
    background: #535353;
    font-weight: bold;
}

.scale_button {
    background: orangered;
    font-weight: bold;
}

.render_button {
    background: #535353;
    font-weight: normal;
}

.file_characteristics_label {
    color: #807f7f;
    font-size: 13px;
}

.input_mode_button {}